<div class="tables-container" *ngIf="!isLoading">
  <div calss="display-row">
    Batch Size: {{batchSize}}
  </div>
  <div class="display-row">
    <app-timing-object-display [timingObject]="timingObject"></app-timing-object-display>
  </div>
  <div class="display-row">
    <ag-grid-angular

      class="ag-theme-alpine display-row-ag-table"
      [rowData]="dataSource"
      [columnDefs]="displayedColumns"
    >
    </ag-grid-angular>
  </div>
</div>
<div class="container" *ngIf="isLoading">
  <div class="display-row">
    <img src="../../assets/loading.gif" height="512" width="512"/></div>
</div>

