@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  display: flex;
  flex:1;
  overflow: auto;
  flex-direction: column;
}

.active-link {
  color: #0b2e13;
}

.top-menu-item {
  margin: 5px 15px 5px 15px;
}
