<div>
  <mat-toolbar>
    <div class="top-menu-item">
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
    </div>
    <div class="top-menu-item">
      <a routerLink="/initial" routerLinkActive="active-link">Generate Data</a>
    </div>
    <div class="top-menu-item">
      <a routerLink="/naiveTest/" routerLinkActive="active-link">Initial Naive Test</a>
    </div>
    <div class="top-menu-item">
      <a routerLink="/constant-batch-size/" routerLinkActive="active-link">Constant Batch Size</a>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
