<div class="card-container">
  <h1 class="mat-display-1">Generate and batch</h1>
  <h2>Current number of records: {{totalNumberOfRecords}}</h2>
  <mat-card>
    <mat-card-title>Generate data</mat-card-title>
    <mat-card-content>Generate records that will be retrieved using batching</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btn btn-primary" color="primary" (click)="goToInInitialTest()">Go</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card-item">
    <mat-card-title>Naive approach</mat-card-title>
    <mat-card-content>
      <div>
        Simply try to get all records
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Quantity to fetch</mat-label>
          <input matInput [(ngModel)]="quantity">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btn btn-primary" color="primary" (click)="goToNaiveTest()">Go</button>
    </mat-card-actions>
  </mat-card>
</div>
